$bg-color:#333;
$font-color:#fff;
$primary-color:#007BFF;
$dark-overlay: rgba(0, 0, 0, 0.7);

body{
  background:$bg-color;
  color:$font-color;
}

.navbar {
  border-bottom: 2px solid $primary-color;
  opacity:0.8;
}

#home-section{
  background: url('../img/home-3.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .home-inner{
    padding-top: 150px;
  }

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
  }

  .card-form {
    opacity: 0.8;

    .btn-outline-light:hover {
      color: $primary-color;
    }
  }

  .fa {
    background: $primary-color;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }
}

#explore-section, #create-section, #share-section {
  .fa {
    background: $primary-color;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }

  img {
    height: 400px;
  }
}

#create-head-section,
#share-head-section {
  .btn-outline-light:hover {
    color: $primary-color;
  }
}
